@using Fluxor.Blazor.Web.Components;
@using Fluxor.Persist.Middleware;
@using Storage;
@inherits FluxorLayout

@inject IDispatcher Dispatcher
@inject Blazored.LocalStorage.ILocalStorageService localStorage
<div class="page">
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
@code
{

    protected override void OnInitialized()
    {
        base.OnInitialized();
        Dispatcher.Dispatch(new InitializePersistMiddlewareAction() { StorageService = new LocalStateStorage(this.localStorage), RehydrateStatesFromStorage = true });
        this.SubscribeToAction<PersistMiddlewareRehydratedAction>(result =>
        {
            Console.WriteLine($"**** State rehydrated**");
            this.StateHasChanged();// we now have state, we can re-render to reflect binding changes
        });
    }
}