@page "/"
@inherits Fluxor.Blazor.Web.Components.FluxorComponent
@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
<h1>Counter</h1>

<p>Current count: @CounterState.Value.ClickCount</p>

<p>Local storage: @CounterJson</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="ResetStateAndStorage">Reset all states and clear local storage</button>
<br />
<br />
<button class="btn btn-primary" @onclick="ReloadPage">Reload Page and Restore from Local State</button>
